.nav {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9fa;
  border-top: solid 1px rgba(121, 121, 121, 0.5);
  padding: 20px 40px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
}
